body {
    background-color: #000000;
    animation: itssopretty 3s infinite;
}

@keyframes itssopretty {
	0% {
		background: #003030;
	}
	50% {
		background: #303030;
	}
	100% {
		background: #003030;
	}
}